@import "tailwindcss";

@theme {
  --color-dark: #182540;
  --color-primary: #41A8BF;
  --color-eco: #1F8C78;
  --color-accent: #F2E963;
  --color-neutral: #F2F2F2;
  --color-medium: #A6AEBF;
  --color-green: #A5D1C9;
  --color-green-medium: #60AFA1;
}